.category-index-container {
  padding: 20px 100px;

  .category-index-header {
    font-family: 'Helvetica';
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #CEEBD7 solid;
    margin-bottom: 18px;

    h1 {
      color: #05AF3C;
      font-size: 15px;
      font-weight: 100;
      padding: 18px 0px;
    }

    i {
      color: #05AF3C;
      font-size: 18px;
      padding: 28px 0px;
    }
  }

  .category-index div {
    margin-bottom: 18px;
    font-size: 34px;
    font-weight: 200;
  }

  .category-index-item {
    a {
    color: black;
    }

    span {
      font-size: 15px;
      color: #05AF3C;
      margin-left: 5px;
    }
  }

  .category-index-item a:hover {
    color: #05AF3C;
  }
}
