.category-show {
  .category-show-header {
    span {
      font-family: 'Helvetica';
      font-size: 50px;
      font-weight: lighter;
    }
    text-align: center;
    padding: 70px 0px 20px 0px;
  }
}
