.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 2px 3px #bfc0c1;
  font-family: 'Roboto', sans-serif;
  height: 60px;
  position:relative;
  z-index:0;
}

.top-nav img {
  height: 20px;
  width: 165px;
}

.top-nav-right {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  font-size: 15px;
}

.top-nav-right a {
  color: black;
  position: relative;
  margin: 0px 16px;
  padding-bottom: 17px;
}

.top-nav-right a:hover {
  border-bottom: #32e580 5px solid;
}

.top-nav-right button {
  background-color: white;
  color: black;
  position: relative;
  font-size: 15px;
  margin: 0px 16px;
  padding: 21px 0px 21px 0px;
}

.top-nav-right button:hover {
  padding: 21px 0px 16px 0px;
  border-bottom: #32e580 5px solid;
  cursor: pointer;
}

.top-nav-left {
  width: 300px;
}

.top-nav-left a {
  color: black;
  position: relative;
  margin: 0px 16px;
  padding-bottom: 17px;
}

.top-nav-left a:hover {
  border-bottom: #32e580 5px solid;
}

.top-nav-left i {
  margin-right: 6px;
  font-size: 20px;
  color: #05AF3C;
}
