.project-new-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}

.project-new-nav {
  padding-bottom: 50px;
}

.button {
  border: 1px black solid;
  padding: 20px;
  font-size: 15px;
}

.button button {
  font-size: 15px;
  font-weight: bold;
  background-color: inherit;
}

.button button:focus {
  outline: 0;
}

.button button:active {
  color: blue;
}

.button button:hover {
  color: blue;
  cursor: pointer;
}

.project-new-partial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
