.project-new-page {
  background-color: #F7F5F2;
  height: 100vh;
}

.project-new-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}

.project-new-nav {
  padding-bottom: 50px;
}

.button {
  border: 1px #c4c4c4 solid;
  padding: 20px;
  font-size: 15px;
  color: #c4c4c4;
  background-color: white;
}

.button i{
  margin-right: 5px;
}

.button button {
  font-size: 15px;
  font-weight: bold;
  background-color: inherit;
  padding: 0px;
  color: #2b3056;
}

.button button:focus {
  outline: 0;
  color: blue;
}

.button button:hover {
  color: blue;
  cursor: pointer;
}

.project-new-partial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.project-new-partial form {
  border: 1px #c4c4c4 solid;
  padding: 18px 12px;
  background-color: white;
}

.project-new-partial textarea {
  height: 100px;
}

.dropzone {
  width: 332px;
  height: 17px;
  border-radius: 5px;
  margin-bottom: 30px;
  border: 1px #bfc0c1 dashed;
  padding: 12px;
  font-size: 15px;
}

.dropzone:hover {
  cursor: pointer;
}

.image-show p {
  text-align: center;
  padding-bottom: 13px;
}

.image-show img {
  width: 332px;
  height: auto;
  padding: 12px;
}
