.main-page {
  font-family: 'Helvetica';
  box-sizing: border-box;
}

.show-header {
  background-color: #FBFBFA;
  overflow: hidden;
  height: 1%;
  padding-bottom: 70px;
  border-bottom: 1px solid #F1EEEA;
}

.project-show-header {
  display: flex;
  padding: 50px 100px;
}

.project-show-header-left {
  padding-right: 18px;
}

.project-show-header-left img {
  border-radius: 50%;
  margin-bottom: 12px;
}

.by {
  font-weight: lighter;
}

.project-show-header-right {
  padding: 0px 18px;
}

.project-show-header-right h2 {
  font-size: 36px;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 18px;
}

.project-show-header-right h3 {
  color: #626369;
  font-size: 20px;
  font-weight: lighter;
  padding: 0px;
}

.project-show-grid {
  height: 411px;
  padding: 0px 100px;
}

[class*='col-'] {
  float: left;
}

.col-1-2 {
   width: 66.66%;
}

.col-1-2 img {
  width: 100%;
}

.col-2-3 {
  width: 33%;
  height: 100%;
}

.col-container {
  height: 100%;
  width: 100%;
  border-top: 3px #2BDE73 solid;
  padding-top: 18px;
  margin-left: 36px;
}

.col-container h1 {
  color: #05AF3C;
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
}

.col-container h2 {
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  padding-top: 18px;
}

.col-container span {
  color: #626369;
  font-size: 13px;
  font-weight: 200;
}

.col-container button {
  width: 364px;
  height: 43px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #2BDE73;
  color: white;
  font-size: 15px;
  margin-top: 30px;
}

.col-container a {
  margin-top: 30px;
  width: 364px;
  height: 43px;
  border-radius: 5px;
  background-color: #2BDE73;
  color: white;
  font-size: 15px;
  line-height: 43px;
  display: inline-block;
  text-align: center;
}

.project-show-details {
  padding: 0px 100px;
  display: flex;
  justify-content: center;
}

.project-show-about {
  width: 707px;
  padding: 0px 10px;
  margin-right: 50px;
}

.project-show-details h2 {
  font-weight: 200;
  margin: 42px 0px;
}

.project-show-about p {
  line-height: 130%;
  color: #626369;
}

.project-show-rewards {
  width: 372px;
  padding: 0px 10px 50px 10px;
}
